.header {
    height: 80px;
    width: calc(100% - 200px);
    background: #afd7d7;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    align-items: center;
}

button {
    background: aqua;
    width: 120px;
    height: 50px;
    color: #000;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 15px;
}
button:hover {
    background: #56d7d7;
}

@media screen and (max-width: 1000px) {
    .header {
        width: calc(100% - 135px);
    }
}